@media (max-width: 499.98px) {

    /*===================
    Home page CSS
=====================*/

    .header_top_logo {
        padding-top: 26px;
    }

    .header_top_list li a {
        padding: 10px 0px;
        font-size: 14px;
        margin-right: 10px;
    }

    .header_top_list li:nth-child(3) a {
        padding: 10px 10px;
    }

    .header_top_list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .menu {
        position: relative;
    }

    .ord-m-0 {
        order: 0;
        max-width: 138px;
    }

    .ord-m-1 {
        order: 1;
        padding: 0;
    }

    .ord-m-2 {
        order: 2;
    }


    .cate_btn {
        font-size: 14px;
    }

    .newItem_btn {
        box-shadow: 0 0 0 transparent !important;
        background: transparent;
        padding: 0;


    }

    .newItem_btn:hover {
        background: transparent;
        color: var(--brand-col);
    }

    .toggle_btn {
        position: absolute;
        right: 10px;
        top: -30px;
        color: var(--brand-col);
        width: 43px;
        height: 38px;
        z-index: 999;
    }

    .menu .navbar-nav .nav-item:first-child {
        margin-top: 10px;
    }
    
/* banner part start*/
    
      .banner_part{
        padding: 50px 0;
    }
    
    .banner_text h2 {

	font-size: 20px;
	padding-bottom: 20px;
}
    .banner_search{
        padding: 0 20px;
    }
    
    .search_input {
	padding: 15px 18px;
}
    
/* newest item start*/
    .newestItem{
        padding: 40px 0;
        
    }
    .sec_title h2{
        font-size: 24px;
        padding-bottom: 4px;
    }
    .sec_title p{
        font-size: 14px;
        line-height: 20px;
    }
    .genBtn{
        padding-top: 26px;
    }
    
    .genBtn a{
        padding: 10px 20px;
    }
    
    .freebie_part{
        padding: 40px 0;
    }
    
    
/* footer part start*/
    
    .footer_part{
        padding: 40px 0;
    }
    
    .footer_logo {
	padding-bottom: 18px;
}
    
    .footer_col_one ul li {
	padding-bottom: 5px;
}
    
    .footer_col_one ul li:last-child{
        margin-bottom: 28px;
    }
    
    .footer_title {
	padding-bottom: 14px;
}
    
    .footer_col_two ul li {
	padding-bottom: 5px;
}
    .footer_col_two ul li:last-child{
        margin-bottom: 20px;
    }
    .footer_col_three ul li:first-child{
        padding: 0;
    }
    
    .footer_col_three ul li:last-child{
        margin-bottom: 20px;
    }
    
    .footer_col_four ul:nth-child(2) {
	padding-bottom: 10px;
}
    
    .copyright {
	padding-top: 25px;
	border-top: 1px solid #f1f1f1;
	margin-top: 20px;
}


}

@media (min-width: 500px) and (max-width: 575.98px) {
    /*===================
    Home page CSS
=====================*/


    .header_top_list li a {
        padding: 10px 0px;
        font-size: 14px;
        margin-right: 10px;
    }

    .header_top_list li:nth-child(3) a {
        padding: 10px 10px;
    }

    .header_top_list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .max-wd-sm-4 {
        max-width: 30%
    }

    .max-wd-sm-6 {
        max-width: 70%;
        text-align: right;

    }



    .menu {
        position: relative;
    }

    .ord-m-0 {
        order: 0;
        max-width: 138px;
    }

    .ord-m-1 {
        order: 1;
        padding: 0;
    }

    .ord-m-2 {
        order: 2;
    }


    .cate_btn {
        font-size: 14px;
    }

    .newItem_btn {
        box-shadow: 0 0 0 transparent !important;
        background: transparent;
        padding: 0;
    }

    .newItem_btn:hover {
        background: transparent;
        color: var(--brand-col);
    }

    .toggle_btn {
        position: absolute;
        right: 20px;
        top: -30px;
        color: var(--brand-col);
        width: 43px;
        height: 38px;
        z-index: 999;
    }
    
    
    
/* banner part start*/
    
      .banner_part{
        padding: 50px 0;
    }
    
    .banner_text h2 {

	font-size: 20px;
	padding-bottom: 20px;
}
    .banner_search{
        padding: 0 20px;
    }
    
    .search_input {
	padding: 15px 18px;
}
    
/* newest item start*/
    .newestItem{
        padding: 40px 0;
        
    }
    .sec_title h2{
        font-size: 24px;
        padding-bottom: 4px;
    }
    .sec_title p{
        font-size: 14px;
        line-height: 20px;
    }
    .genBtn{
        padding-top: 26px;
    }
    
    .genBtn a{
        padding: 10px 20px;
    }
    
    .freebie_part{
        padding: 40px 0;
    }
    
    
/* footer part start*/
    
    .footer_part{
        padding: 40px 0;
    }
    
    .footer_logo {
	padding-bottom: 18px;
}
    
    .footer_col_one ul li {
	padding-bottom: 5px;
}
    
    .footer_col_one ul li:last-child{
        margin-bottom: 28px;
    }
    
    .footer_title {
	padding-bottom: 14px;
}
    
    .footer_col_two ul li {
	padding-bottom: 5px;
}
    .footer_col_two ul li:last-child{
        margin-bottom: 20px;
    }
    .footer_col_three ul li:first-child{
        padding: 0;
    }
    
    .footer_col_three ul li:last-child{
        margin-bottom: 20px;
    }
    
    .footer_col_four ul:nth-child(2) {
	padding-bottom: 10px;
}
    
    .copyright {
	padding-top: 25px;
	border-top: 1px solid #f1f1f1;
	margin-top: 20px;
}





}


@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}


@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


@media (min-width: 1200px) {
    ...
}
