@media (max-width: 499.98px) {

    /*===================
    Home page CSS
=====================*/

    .header_top_logo {
        padding-top: 26px;
    }

    .header_top_list li a {
        padding: 10px 0px;
        font-size: 14px;
        margin-right: 10px;
    }

    .header_top_list li:nth-child(3) a {
        padding: 10px 10px;
    }

    .header_top_list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
    .menu{
        position: relative;
    }

    .ord-m-0 {
        order: 0;
        max-width: 138px;
    }

    .ord-m-1 {
        order: 1;
        padding: 0;
    }

    .ord-m-2 {
        order: 2;
    }


    .cate_btn {
        font-size: 14px;
    }

    .newItem_btn {
        box-shadow: 0 0 0 transparent !important;
        background:transparent;
        
      
    }
    
    .newItem_btn:hover{
        background: transparent;
        color: var(--brand-col);
    }
.toggle_btn {
	position: absolute;
	right: 9px;
	top: -30px;
	color: var(--brand-col);
	width: 43px;
	height: 38px;
}
    
    .menu .navbar-nav .nav-item:first-child{
        margin-top: 10px;
    }


}

@media (min-width: 500px) and (max-width: 575.98px) {
    /*===================
    Home page CSS
=====================*/


    .header_top_list li a {
        padding: 10px 0px;
        font-size: 14px;
        margin-right: 10px;
    }

    .header_top_list li:nth-child(3) a {
        padding: 10px 10px;
    }

    .header_top_list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .max-wd-sm-4 {
        max-width: 30%
    }

    .max-wd-sm-6 {
        max-width: 70%;

    }
    
    
    
    .menu{
        position: relative;
    }

    .ord-m-0 {
        order: 0;
        max-width: 138px;
    }

    .ord-m-1 {
        order: 1;
        padding: 0;
    }

    .ord-m-2 {
        order: 2;
    }


    .cate_btn {
        font-size: 14px;
    }

    .newItem_btn {
        box-shadow: 0 0 0 transparent !important;
        background:transparent;
    }
    
    .newItem_btn:hover{
        background: transparent;
        color: var(--brand-col);
    }
.toggle_btn {
	position: absolute;
	right: 9px;
	top: -30px;
	color: var(--brand-col);
	width: 43px;
	height: 38px;
}





}


@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}


@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


@media (min-width: 1200px) {
    ...
}
