:root{
    --wh-col: #fff;
    --44-col: #444;
    --nav-bg: #f5f5f5;
    --brand-col: #6652cb;
    
    --lin-bg: linear-gradient(to right, #6a56cd, #a293f0);
	--lin-ho: linear-gradient(to right, #a293f0, #6a56cd);
}

/*import font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
@font-face{
    src:url(../fonts/Phenomena-Bold.ttf);
    font-family: pheno;
}

/*============================
      TABLE OF CONTENT
------------------------------
 		 HOME PAGE
==============================
    |->  Common CSS
    |->  header top css
    |->	 menu part css
    |->  banner part css
    |->	 newest item css
    |->  freebie part css
    |->  footer part css



--------------------------------
    Product Detail Page
-------------------------------
    9. bread part css
    10. detail part css
    11. detail part left



--------------------------------
   All item grid Page
-------------------------------
    12. product grid view



--------------------------------
   All item list Page
-------------------------------
    13. product list view sidebar
	14. product list view item

--------------------------------
   admin grid page
-------------------------------
    15. dashboard grid css

--------------------------------
    admin list page
--------------------------------
    16. dashboard list page css
	17. freebie monthly css start
	18. freebie alltime css start

---------------------------------
    Profile page start 
---------------------------------
	19. profile page css
	
---------------------------------
    Admin_portfolio page
==================================
    |-> portfolio top css

/*=============================
       Common CSS
===============================*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a,
a:hover{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

span{
    display: inline-block;
}

.form-control{
    border: 0;
}

html,
body{
	scroll-behavior: smooth;
}

label{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select:none;
}

.clr{
	clear: both;
}

button,
button:focus,
input:focus{
    background-color: #fff;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
    border: 0;
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color !important;
    background: transparent;
}

.clearFix{
    clear: both;
}

.sec_title{
    padding-bottom: 50px;
}

.sec_title h2{
    color: var(--brand-col);
    font-size: 30px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}
.sec_title p{
    font-size: 16px;
    color: var(--44-col);
    line-height: 25px;
}
.page-link:focus{
	box-shadow: 0 0 0 0 rgba(0,123,255,.25)
}
.genBtn{
    padding-top: 50px;
    text-align: center;
}

.genBtn a{
    background: var(--lin-bg);
    color: #fff;
    padding: 18px 20px;
    border-radius: 5px;
}

.genBtn a:hover{
	 background: var(--lin-ho);
}


.product_box{
    position: relative;
    overflow: hidden;
}

.product_box .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    transition: all linear .3s;
    -wekbit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transform: scale(1.1);
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    opacity: 0;
}

.product_box:hover .overlay{
      transform: scale(1);
      opacity: 1;
    
}

.product_box .overlay span:nth-child(1){
    font-size: 40px;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    display: block;
    text-align: right;
}

.product_box .overlay span:nth-child(2),
.product_box .overlay span:nth-child(3),
.product_box .overlay span:nth-child(4){
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}



.product_box .overlay span:nth-child(2){
    font-size: 18px;
    bottom: 74px !important;
    font-weight: 400;
}
.product_box .overlay span:nth-child(3){
    bottom: 53px;
    font-size: 12px;
}
.product_box .overlay span:nth-child(4){
    font-size: 16px;
    font-weight: 400;
}




/*=============================
       header top css
===============================*/

.header_top{
    background: var(--wh-col);
}

.header_top_logo{
    display: flex;
    align-items: center;
    height: 100%;
}

.header_top_list li{
    display: inline-block;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header_top_list li a{
    color: var(--44-col);
    padding: 38px 18px;
}

.header_top_list li:nth-child(3) a{
    background-image: linear-gradient(to right, #6a56cd, #a293f0);
    color: var(--wh-col);
    background-position: left;
}

.header_top_list li:nth-child(3) a:hover{
	background: var(--lin-ho);
}

.header_top_list li:not(:nth-child(3)) a:hover{
    color: var(--brand-col);
}



/*=============================
       menu part css
===============================*/
.menu{
    background: var(--nav-bg);
    padding: 20px 0;
}


.menu .navbar-nav .nav-item{
    padding: 0 10px;
}

.menu .navbar-nav .nav-link{
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--44-col);
    transition: .2s;
}

.menu .navbar-nav .nav-link:hover{
    color: var(--brand-col);
}

.cate_btn{
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    color: var(--44-col);
    font-size: 16px;
    background: transparent;
}

.cate_btn:hover{
    color: var(--brand-col);
}

.cate_btn span:nth-child(2){
    vertical-align: bottom;
    padding-left: 8px;
     transform: translateY(3px);
}

.newItem_btn{
    align-items: center;
    height: 100%;
    text-transform: capitalize;
     font-family: 'Arimo',sans-serif;
    font-weight: 400;
    color: var(--brand-col);
    font-size: 16px;
    background: #fff;
    padding: 0 18px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.05) !important;
}

.newItem_btn:hover{
    background: #6652cb !important;
    color: #fff !important;
}

.newItem_btn:focus{
	  align-items: center;
    height: 100%;
    text-transform: capitalize;
     font-family: 'Arimo',sans-serif;
    font-weight: 400;
    color: var(--brand-col);
    font-size: 16px;
    background: #fff;
    padding: 0 18px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.05) !important;
}

.newItem_btn span:nth-child(2){
    vertical-align: bottom;
    padding-left: 5px;
    transform: translateY(3px);
}


.fixedMenu {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
	border-bottom: 1px solid var(--brand-col);
    
    animation: menuAni 1s;
}


@keyframes menuAni{
    0%{
        top: -100px;
    }
    
    100%{
        top: 0;
    }
}

/*=============================
    banner part css
===============================*/

.banner_part{
    background: var(--lin-bg);
    padding: 100px 0;
}

.banner_text h2{
    color: var(--wh-col);
    font-size: 38px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    padding-bottom: 28px;
}


.banner_search{
    padding: 0 50px;
}

.search_input{
    padding: 21px 18px;
    
}
.search_input::placeholder{
    font-size: 14px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    opacity: 1;
    color: #999;
}

.search_btn{
    background: #f1f1f1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

}

.search_btn button{
    margin: 0 5px;
    border: 0;
    background: inherit;
}


/*=============================
    newest item css
===============================*/
.newestItem{
    padding: 70px 0;
}

.cate_list{
	background: #fff;
	padding: 20px 15px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
	display: none;
	z-index: 99;
	width: 200px;
}

.cate_list ul li a{
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	padding: 8px 15px;
	display: block;
}

.cate_list ul li:not(:last-child) a{
	border-bottom: 1px solid #eee;
	
}

.cate_list ul li a:hover{
	color: var(--brand-col);
}

.newest_list{
	background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    display: none;
    z-index: 99;
    width: 200px;
    right: 13px;
    top: 52px;
    text-align: left;
}

.newest_list ul li a{
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	padding: 8px 15px;
	display: block;
}

.newest_list ul li:not(:last-child) a{
	border-bottom: 1px solid #eee;
	
}

.newest_list ul li a:hover{
	color: var(--brand-col);
}


/*=============================
    freebie part css
===============================*/
.freebie_part{
    padding: 70px 0;
    background: var(--nav-bg);
}

.freebie_box .overlay span:nth-child(1){
    font-size: 20px;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    display: block;
    text-align: right;
}

/*=============================
    footer part css
===============================*/
.footer_part{
    padding: 70px 0 30px 0;
    background: var(--wh-col);
}

.footer_logo{
    padding-bottom: 35px;
}

.footer_col_one{}
.footer_col_one ul{}
.footer_col_one ul li{
    padding-bottom: 14px;
}

.footer_col_one ul li a,
.footer_col_two ul li a,
.footer_col_four ul li a,
.footer_col_three ul li p
{
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    color: var(--44-col);
    transition: .2s;
}

.footer_col_one ul li a:hover,
.footer_col_four ul li a:hover,
.footer_col_two ul li a:hover{
    color: var(--brand-col);
}

.footer_col_two ul li{
    padding-bottom: 14px;
}

.footer_col_three ul li:first-child{
    padding-bottom: 24px;
}
.footer_col_four ul:nth-child(2) li a{
  margin-right: 30px;
}

.footer_col_four ul:nth-child(2){
    padding-bottom: 25px;
}




.footer_title{
    padding-bottom: 28px;
}


.footer_title h2{
    color: var(--brand-col);
    font-size: 26px;
    font-family: 'pheno',sans-serif;
}

.copyright{
    padding-top: 30px;
    border-top: 1px solid #f1f1f1;
    margin-top: 30px;
}

.copyright p{
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
    color: #999;
}

/*=============================
       bread part css
===============================*/
.bread_part{
    background: var(--lin-bg);
    padding: 20px 0;
}

.breadcrumb {

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
}

.bread_part .breadcrumb{
    line-height: 42px;
}

.breadcrumb-item + .breadcrumb-item,
.breadcrumb-item a{
    color: #fff;
    font-family: 'Arimo',sans-serif;
    font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: '>';
    color: #fff;
}

/*=============================
       detail part CSS
===============================*/
.detail_part{
    padding: 70px 0 0px 0;
}

.detail_share_part{
    padding: 16px 35px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(33, 57, 64, 0.1);
    border-radius: 5px;
}

.detail_share_part .fb{
	color: #4267B2;
}


.detail_share_part .twit{
	color: #1DA1F2;
}


.detail_share_part .google {
    color:#fa5050;
}


.detail_share_part .pri {
    color:#E6001A;
}


.detail_share_part .dribble {
    color:#B2215A;
}

.detail_share_part li{
    display: inline-block;
}

.detail_share_part li:first-child{
    font-family: 'Arimo',sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.detail_share_part li a{
    color: var(--44-col);
    font-size: 16px;
    margin: 0 12px;
}




.product_info{
    box-shadow: 5px 5px 20px rgba(33, 57, 64, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.product_info ul li {
	display: inline-block;
	font-family: 'Arimo',sans-serif;
	font-weight: 400;
	padding: 20px 15px;
	margin: 0 1px;
}



.product_info ul li:not(:last-child){
    border-left: 1px solid #ddd;
}

.product_info ul li[data-slick-index="0"]{
    border-left: 1px solid transparent;
}


.product_info ul li h3{
    color: var(--44-col);
    font-size: 16px;
}

.product_info ul li p{
    color: #999;
    font-size: 14px;
}

.detail_next_btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    color: #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    display: inline-block !important;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(33, 57, 64, 0.1);
    cursor: pointer;
    
}
.detail_next_btn:hover{
    background: var(--brand-col);
    color: #fff;
    border-color: var(--brand-col);
    display: none;
}

.detail_prev_btn{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    color: #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    display: inline-block !important;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(33, 57, 64, 0.1);
    cursor: pointer;
    display: none !important;
    visibility: hidden;
    
}
.detail_prev_btn:hover{
    background: var(--brand-col);
    color: #fff;
    border-color: var(--brand-col);
}

.slick-slider{
    padding: 0 0;
}

/*--Detail Profile--*/


.detail_part_profile li{
    display: inline-block;
    vertical-align: middle;
}


.detail_part_profile li.pp:first-child{
    width: 100px;
}

.detail_part_profile li:last-child{
   width: 275px;

}

.detail_product_detail_page{
    padding: 50px 30px;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(33, 57, 64, 0.1);
    margin-top: 20px;
	position: sticky;
	top: 80px;
}

.profile_title{
    font-size: 22px;
    color: var(--44-col);
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
}

.detail_part_profile{
    padding: 30px 0;
}

.detail_profile_image{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    border-radius: 50%;
}

.creator_detail li{
    padding-left: 5px;
    color: #999;
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
}

.creator_detail li:first-child{
    font-size: 18px;
    color: var(--44-col);
}

.ct{
    width: 95px;
}


.detail_page_rating{
    padding-bottom: 30px;
}

.detail_page_rating li:first-child{
    font-family: 'Arimo',sans-serif;
    color: var(--44-col);
    font-size: 20px;
}

.detail_page_rating li:last-child span:first-child{
    color: #ffb504;
}

.detail_page_rating li:last-child span:last-child{
    color: #999;
    font-size: 16px;
    padding-left: 10px;
}

.detail_part_card{}
.detail_part_card h3{
    font-family: 'Arimo',sans-serif;
    font-size: 20px;
    color: var(--44-col);
    padding-bottom: 15px;
}

.detail_part_card_btn{}

.detail_part_card_btn li button{
    display: block;
    padding: 18px 20px;
    font-family: 'Arimo',sans-serif;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.detail_part_card_btn li:first-child button{
    margin-bottom: 20px;
    background: var(--lin-bg);
    color: #fff;
    border: 1px solid transparent !important;
    
}

.detail_part_card_btn li:last-child button{
    border: 1px solid #ddd !important;
    color: var(--brand-col);
    
}

.detail_part_card_btn li:last-child button:hover{
    background: var(--lin-bg);
    color: #fff;
    border-color: transparent;
}

.detail_part_card_btn li:first-child button:hover{
    background: transparent;
    color: var(--brand-col);
    border: 1px solid #ddd !important;
}

.select_price li:last-child{
    padding-bottom: 25px;
}

.select_price li{
    display: block;
}

.select_price li .rdo{
    position: relative;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #adadad;
    border-radius: 50%;
    top: 4px;
    left: 0;
    float: left;
}

.select_price li .rdo:after{
    width: 6px;
    height: 6px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select_price li .rdo

.select_price li label,
.select_price li span
{
    color: var(--44-col);
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
}

.select_price li label{
    margin-left: 7px;
    cursor: pointer;
}

.select_price li span{
    float: right;
}

.select_price li input{
    width: 0;
	display: none;
}


.select_price li input:checked ~ label
{
    color: var(--brand-col);
}

.select_price li input:checked ~ .rdo:after{
    background: var(--brand-col);
    
}

.select_price li input:checked ~ .rdo{
    border-color:  var(--brand-col);
}



.select_price li input:checked ~ span
{
    color: var(--brand-col);
}


/*
.fixed_card{
	position: sticky;
	background: #fff;
	top: 80px;
}
*/


/*=============================
       detail part left
===============================*/
.detail_image_left{
    position: relative;
    overflow: hidden;
}

.detail_image_left .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-family: 'Arimo',sans-serif;
    font-size: 20px;
    font-weight: 600;
    transform: scale(1.05);
    opacity: 0;
    transition: all linear .2s;
}

.detail_image_left:hover .overlay{
    transform: scale(1);
    opacity: 1;
}



.preview_text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
	left: 50%;
	width: 100%;
	text-align: center;
    
}

.add_to_wish{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    
}

.add_to_wish:hover{
    color: #fa5050;
}

.detail_para p{
	font-family: 'Arimo',sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.preview_text i{
    padding-left: 10px;
}

.feature_and_file h3{
	font-family: 'Arimo',sans-serif;
	font-size: 20px;
	color: var(--44-col) !important;
	font-weight: 600;
	padding:30px 0;
}

.detail_para p:first-child{
	padding-bottom: 30px;
}

.feature_and_file ul li{
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	color:var(--44-col);
	line-height: 27px;
	font-weight: 400;
}


.comment_review{
	border-top: 1px solid #eee;
	padding-top: 50px;
	margin-top: 50px;
}

.comment_review .list-group{
	flex-direction: row;
}

.comment_review_item{
	flex-direction: column !important;
}

.comment_review_item .list-group-item:first-child{
	border-radius: 0;
}

.comment_review_item .list-group-item:last-child{
	border-radius: 0;
}

.comment_review .list-group a{
	font-family: 'Arimo',sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #bbb;
}

.comment_review .list-group a.active{
	color: var(--44-col);
}

.com_btn{
	width: 170px;
	border-right: 3px solid #bbb;
}

.comment_review .list-group a:nth-child(2){
	margin-left: 50px;
}

.comment_review .list-group-item-action:focus, .list-group-item-action:hover{
	background: transparent;
}



.comment_review .list-group-item{
	padding: 25px;
	display: flex;
}

.rev_profile{
	margin-right: 20px;
}

.rev_text{
	position: relative;
}

.rev_name{
	font-family: 'Arimo',sans-serif;
	font-size: 20px;
	color: #222;
	font-weight: 600;
	padding-bottom: 10px;
}

.rev_time{
	font-family: 'Arimo',sans-serif;
	font-size: 14px;
	color: #999;
	font-weight: 400;	
}

.rev_comment{
	font-family: 'Arimo',sans-serif;
	font-size: 14px;
	color: #666;
	font-weight: 400;
}

.list-group-item:nth-child(odd){
	margin-top: 30px;
}

.comm_rev li{
	font-size: 14px !important;
}

.rev_rating {
    padding-bottom: 8px;
}



/*=============================
       product grid view
===============================*/
.product_grid{
	padding: 70px 0 30px 0;
}
.product_view_btn{
		margin-right: 20px;
}
.product_view_btn a{
	color: #fff;
	font-size: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;

}

.product_view_btn a:nth-child(2){
	border-color: transparent;
}



.all_item_pagi{
	padding-top: 50px;
}

.all_item_pagi ul{
	justify-content: center;
}

.all_item_pagi ul li{

	margin: 0 5px;
}


.all_item_pagi .page-item .page-link{
	border: 0;
	border-color: transparent;
	padding: 0;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #ddd;
	font-weight: 600;
	font-family: 'Arimo',sans-serif;
}

.all_item_pagi .page-item .page-link:hover{
	color: var(--44-col);
}

.all_item_pagi span{
	height: 50px;
	line-height: 40px;
	color: #ddd;
}

.all_item_pagi .page-item.active .page-link{
	background: var(--lin-bg);
	color: #fff;
}
.all_item_pagi .page-item.active .page-link:hover{
	color: #fff;
}


.page-item:first-child .page-link,
.page-item:last-child .page-link
{
	border-radius: 50%;
}

.page-item:last-child .page-link{
	font-size: 12px;
}



.all_item_pagi ul li a{
	color: #ddd;
	width: 50px;
	height: 50px;
	border-color: #ddd;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	
}


/*=============================
   product list view sidebar
===============================*/
.list_view a:nth-child(1){
	border-color: transparent;
}
.list_view a:nth-child(2){
	border-color: #fff;
}

.product_list{
	padding: 70px 0 0 0;
}

.sideOption{
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
	padding: 30px;
}

.sideOption h3{
	font-family: 'Arimo',sans-serif;
	color: var(--44-col);
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
}

.sideOption ul{
	padding-bottom: 30px;
}

.sideOption ul li{
	padding-left: 20px;
	line-height: 26px;
}

.sideOption ul li input{
	opacity: 0;
	display: none;
}

.sideOption ul li span{
	position: relative;
	border: 1px solid #444;	
	top: 3px;
    left: -19px;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	
}



.sideOption ul li span::after{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	content: '';
	border: 1px solid transparent;	
    top: 0;
    left: 0;
}


.sideOption label{
	font-family: 'Arimo',sans-serif;
	color: #777;
	font-size: 16px;
	margin-left: -12px;
	cursor: pointer;
		padding-left: 33px;
    transform: translateX(-27px);
}

.sideOption ul li span{
	position: relative;
}

.sideOption ul li input:checked ~ span{
	background: var(--brand-col);
	border-color: var(--brand-col);
}

.sideOption ul li input:checked ~ span::after{
	opacity: 1;
}

.sideOption ul li span::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    left: 4px;
    top: 1px;
	opacity: 0;
	
}

.range_option{
	position: relative;
	padding: 50px 0;
}

.range_option::after{
	height: 1px;
	position: absolute;
	background: #eee;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
}



.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-radius: 10px;
}

.ui-widget{
	font-size: 12px;
	background: #dddddd;
	border: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    width: 22px;
    height: 22px;
    top: -6px;
    background: #fff;
    border: 0;
    border-radius: 36px;
	cursor: pointer;
	
	box-shadow: inset 0 0 0px 5px #6c58ce;
}

.ui-slider-horizontal .ui-slider-range{
	background: var(--lin-bg);
}

.range_option .value{
	color: #999;
	font-family: 'Arimo',sans-serif;
}


.rating_option{
	padding-top: 30px;
	position: relative;
}

.rating_option::after{
	height: 1px;
	position: absolute;
	background: #eee;
	content: '';
	top: 0;
	left: 0;
	width: 100%;

}


/*=============================
  product list view item
===============================*/

.list_container .card{
	border: 0;
	padding: 16px;
	background: #fff;
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.list_container .card-title{
	font-size: 20px;
	font-family: 'Arial',sans-serif;
	margin: 0;
}

.list_container .list_star{
	color: #ffb504;
	padding: 5px 0;
}

.list_container .card-text{
	font-size: 16px;
	font-family: 'Arimo',sans-serif;
}

.list_container .text-muted{
	font-size: 14px;
}

.list_container .price_card{
	padding-top: 10px;
}

.list_container .price_card span:nth-child(1){
	font-size: 36px;
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	font-weight: 600;
	vertical-align: middle;
}

.list_container .price_card span:nth-child(2) a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	color: #999;
	border: 1px solid #999;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 12px;
}

.list_container .price_card span:nth-child(2) a:hover{
	background: var(--lin-bg);
	color: #fff;
	
	
}

.list_container .position-relative{
	overflow: hidden;
}

.list_container .position-relative a{
	position: absolute;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	transform: scale(1.1);
	opacity: 0;
	transition: .2s;
	
}


.list_container .position-relative a .preview_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 129px;
    color: #fff;
    font-family: 'Arimo',sans-serif;
}


.list_container .position-relative:hover a{
	transform:scale(1);
	opacity: 1;
}

.list_container .position-relative img{
	height: 100%;
}

/*=============================
  dashboard grid css
===============================*/
.dashboard_grid{
	padding-top: 70px;
}


.dashboard_sidebar{
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.dashboard_sidebar li a{
	padding: 16px 30px;
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	color: var(--44-col);
	display: block;
}

.dashboard_sidebar li:not(:last-child) a{
	border-bottom: 1px solid #f5f5f5;
}

.dashboard_sidebar li.active a{
	background: var(--lin-bg);
	color: #fff;
}

.dashboard_sidebar li:not(.active) a:hover{
	color: var(--brand-col);
}

.dash_mini{
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.dash_mini_title{
	padding: 18px 20px;
	background: var(--lin-bg);
	color: #fff;
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	font-weight: 400;
}


.dash_content{
	padding: 20px;
}

.dash_content_right h2{
	font-size: 20px;
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	padding-bottom: 15px;
}

.v-center{
	display: flex;
	align-items: center;
}

.dash_content_right span{
	color: #999;
	font-size: 16px;
}

.dash_content_right p{
	font-size: 16px;
	color: #777;
	font-family: 'Arimo',sans-serif;
	padding-top: 5px;
}

.dash_content_right a{
	padding: 10px 30px;
	border-radius: 5px;
	background: var(--lin-bg);
	font-size: 18px;
	font-family: 'Arimo',sans-serif;
	color: #fff;
	margin-top: 20px;
}

.dash_content_right a:hover{
	background: var(--lin-ho);
}


.dash_content_right .download{
	background: #fff;
	border: 1px solid #ddd;
	color: #797979;
}

.dash_content_right .download:hover{
	border: 1px solid #fff;
	background: var(--lin-bg);
	color: #fff;
}


.unread_content .row-contnet{
	border: 1px solid #dddddd;
	padding: 20px;
	
}

.unread_left{
	width: 16%;
}

.unread_right{
	padding-left: 15px;
	width: 84%;
}

.unread_content_right{
	position: relative;
}


.unread_content_right h2{
	font-size: 20px;
	font-family: 'Arimo',sans-serif;
	color: #222;	
}

.unread_content_right p{
	font-size: 16px;
	font-family: 'Arimo',sans-serif;
	color: #666;
	padding-top: 10px;
}

.unread_content .row-contnet{
	flex-direction: row;
	display: flex;
}

.unread_time{
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 !important;
	color: #999 !important;
}

.unread_content_right span{
	color: #999;
	font-size: 16px;
	font-family: 'Arimo',sans-serif;
	margin-top: 10px;
	padding-right: 13px;
	user-select: none;
}


.unread_content_right span a{
	color: #999;
	margin-left: 13px;
}

.unread_content_right span a:hover{
	color: var(--brand-col);
}



.unread_replay{
	position: relative;
	color: var(--brand-col) !important;
	cursor: pointer;
}


.unread_replay:after{
	position: absolute;
	content: '';
	right: 0;
	top: 15%;
	width: 2px;
	height: 85%;
	background: #999;
}


.replay_box{
	margin-top: -1px;
	
}

#replay-box-1{
	display: none;
}



.replay_box textarea{
	width: 100%;
	padding: 15px;
	border: 1px solid #ddd;
}
.replay_box button{
	background: var(--lin-bg);
	float: right;
	padding: 12px 40px;
	font-family: 'Arimo',sans-serif;
	font-size: 18px;
	color: #fff;
	margin-top: 5px;
	border-radius: 5px;
	user-select: none;
}

.replay_box button:hover {
	background: var(--lin-ho);
}

.targetElement[data-show="false"]{
	display: none;
}

.targetElement[data-show="true"]{
	display: block;
}


.unread_mini{
	padding-bottom: 50px;
}

.earning_content p{
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	color: #666;
	padding-bottom: 10px;
}



.dash_mini_img{
    position: relative;
    overflow: hidden;
	cursor: pointer;
}

.dash_mini_img .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    transition: all linear .3s;
    -wekbit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transform: scale(1.1);
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    opacity: 0;
}

.dash_mini_img:hover .overlay{
      transform: scale(1);
      opacity: 1;
    
}


.approved_item_part .dash_content:not(:last-child){
	border-bottom: 1px solid #ddd;
}


/*=============================
  dashboard list page
===============================*/


.admin_list_aa a:nth-child(1){
	border-color: transparent;
}

.admin_list_aa a:nth-child(2){
		border: 1px solid #fff;
}

.adminGrid_page_btn{
	
	padding: 80px 0 60px 0;
	
}


.adminGrid_page_btn .list-group{
	flex-direction: row !important;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	border-radius: 5px;
	overflow: hidden;
}

.adminGrid_page_btn .list-group-item:nth-child(odd){
	margin-top: 0 !important;

}

.adminGrid_page_btn .list-group-item:first-child{
	border-radius: 0;

			
		
}

.adminGrid_page_btn .list-group-item:last-child{
	margin-bottom: -1px;
	border-radius: 0;
}

.adminGrid_page_btn .list-group-item{
	padding: 15px 0;
	text-align: center;
	border: 0;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Arimo',sans-serif;
	color: #999;
}

.adminGrid_page_btn .list-group-item:hover{
	background: #fff;
	color: #999;
}

.adminGrid_page_btn .list-group-item.active{
	background: var(--lin-bg);
	color: #fff;
}

/*=============================
   freebie monthly css start
===============================*/
.freebie_monthly .card{
	padding: 20px;
	border: 0;
	box-shadow: 0 0px 20px rgba(0,0,0,.1);
}

.freebie_monthly .card-body h5{
	font-size: 20px;
	font-family: 'Arimo',sans-serif;
	color: var(--44-col);
}

.freebie_monthly .card-body .star{
	color: #ffb504;
	padding-bottom: 5px;
}

.freebie_monthly .card-body .credit-cart{
	width: 50px;
	height: 50px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	color: #666;
	border: 1px solid #ddd;
	margin-left: 20px;
}

.freebie_monthly .card-body .credit-cart:hover{
	background: var(--lin-bg);
	border: 1px solid #fff;
	color: #fff;
}
.freebie_monthly .card-body .download{
	font-size: 18px;
	font-family: 'Arimo',sans-serif;
	color: #666;
	background: #fff;
	padding: 12px 30px;
	border-radius: 5px;
	margin-top: 15px;
	border: 1px solid #ddd;
}

.freebie_monthly .card-body .download:hover{
	background: var(--lin-bg);
	color: #fff;
	border: 1px solid #fff;
}

.freebie_monthly .card-body p{
	font-size: 14px;
	font-family: 'Arimo',sans-serif;
	color: var(--44-col);
	padding-bottom: 25px;
}

.freebie_monthly .card-body h2{
	font-size: 16px;
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
}



/*=============================
   freebie alltime css start
===============================*/
.freebie_alltime .card{
	padding: 20px;
	border: 0;
	box-shadow: 0 0px 20px rgba(0,0,0,.1);
}

.freebie_alltime .card-body{
	position: relative;
}

.freebie_alltime .card-body h5{
	font-size: 20px;
	font-family: 'Arimo',sans-serif;
	color: var(--44-col);
	margin-bottom: 1px;
}

.freebie_alltime .card-body .star{
	color: #ffb504;
	padding-bottom: 5px;
}

.freebie_alltime .card-body .credit-cart{
	width: 45px;
	height: 45px;
	background: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	color: #666;
	font-size: 14px;
	border: 1px solid #ddd;
	margin-left: 10px;
}

.freebie_alltime .card-body .credit-cart:hover{
	background: var(--lin-bg);
	border: 1px solid #fff;
	color: #fff;
	
}
.freebie_alltime .card-body .download{
	font-size: 17px;
    font-family: 'Arimo',sans-serif;
    color: #666;
    background: #fff;
    padding: 9px 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.freebie_alltime .card-body .download:hover{
	background: var(--lin-bg);
	color: #fff;
	border: 1px solid #fff;
}

.freebie_alltime .card-body p{
	font-size: 14px;
	font-family: 'Arimo',sans-serif;
	color: var(--44-col);
	padding-bottom: 15px;
}

.freebie_alltime .card-body h2{
	font-size: 16px;
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	padding-bottom: 10px;
}

.freebie_alltime .card-body{
	padding: 0;
	padding-left: 20px;
}


.freebie_alltime .sideOption ul li span{
	border-radius: 50%;
	background: #fff;
	
}

.freebie_alltime .sideOption label{
	padding-left: 29px;
	border-width: 2px;
}

.freebie_alltime .sideOption ul li input:checked ~ span{
	background: #fff;
}


.freebie_alltime .sideOption ul li span::after{
	position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-right: 0;
    border-bottom: 0;
    left: 50%;
    top: 50%;
    opacity: 0;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
	background: var(--brand-col);
}



.allTime_doller{
	font-family: 'Arimo',sans-serif;
	font-weight: 600;
	color: var(--44-col);
	font-size: 40px;
	vertical-align: middle;
	padding-right: 10px;
}

.forTheMonth{
	font-size: 14px;
    color: #999;
    right: 10px;
    bottom: -10px;
    font-style: italic;
    position: absolute;
    font-family: 'Arimo',sans-serif;
}



/*=============================
   profile page css
===============================*/
.profile_page_header{
	height: 520px;
	position: relative;
}
.cover_pic{
	background: gray;
	position: relative;
	min-height: 330px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
	
	
}

.profile_pic{
	width: 165px;
    height: 165px;
    border: 1px solid #ededed;
    position: absolute;
    left: 50px;
    bottom: -100px;
}

.profile_page_info{}
.profile_page_info .text{
	margin-left: 241px;
    margin-top: 20px;
}
.profile_page_info .text h2{
	color: var(--brand-col);
	font-family: 'Arimo',sans-serif;
	font-size: 24px;
}
.profile_page_info .text p{
	font-size: 16px;
	color: #666;
	font-family: 'Arimo',sans-serif;
}
.profile_page_info .text span{
	color: #ffb504;
	font-size: 18px;
}

.total_sale li{
	font-size: 14px;
	color: var(--44-col);
	font-size: 18px;
	font-weight: 600;
	padding: 18px 38px;
	background: #fff;
	display: inline-block;
	border: 1px solid #ededed;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	
}

.profile_social_link{
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	display: inline-block;
	overflow: hidden;
	border: 1px solid #ededed;
	padding: 0 15px;
	
}

.profile_social_link li{
	color: var(--44-col);
	font-size: 18px;
	font-weight: 600;
	padding: 18px 11px;
	background: #fff;
	display: inline-block;
}

.profile_social_link li:not(:last-child){
	border-right: 1px solid #ededed;
}

.profile_social_link li a{
	color: var(--44-col);
	font-size: 18px;
}

.profile_social_link li a:hover{
	color: var(--brand-col);
}


.profile_page_content{
	padding-top: 30px;
}

.profile_page_content .content_title{
	color: #222;
	font-family: 'Arimo',sans-serif;
	font-size: 20px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #f0f0f0;
}

.profile_page_content p{
	font-size: 16px;
	color: var(--44-col);
	line-height: 27px;
	font-family: 'Arimo',sans-serif;
}
.profile_page_content ul{}
.profile_page_content ul li{
	font-size: 16px;
	color: var(--44-col);
	line-height: 27px;
	font-family: 'Arimo',sans-serif;
}
.profile_page_content ul li a{
	color: #6e89c5;
	font-size: 16px;
	line-height: 28px;
}

.profile_page_content ul li a:hover{
	color: var(--brand-col);
}

.profile_page_content ul li h5{
	color: var(--44-col);
	font-family: 'Arimo',sans-serif;
	font-size: 22px;
	padding-bottom: 10px;
}

/*=============================
   popup css start
===============================*/
.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	background: rgba(0,0,0,.8);
	height: 100vh;
	z-index: 9999;
	display: none;
	padding: 50px 0;
}


.login_form{
	padding: 60px 80px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	display: block;
}

.login_close_btn{
    position: absolute;
    right: -6px;
    top: -6px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: var(--lin-bg);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
	cursor: pointer;
}

.login_page_logo{
	text-align: center;
}

.login_form .list-group{
	flex-direction: row;
	margin-top: 50px;
	box-shadow: 0 0 40px rgba(0,0,0,.1);
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
}

.login_form .list-group-item:nth-child(odd){
	margin-top: 0;
}

.login_form .list-group-item{
	border: 0;
	padding: 0;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	font-family: 'Arimo',sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #a3a3a3;
}

.login_form .list-group-item.active{
	background: var(--lin-bg);
	border-radius: 0;
	border: 0;
	color: #fff;
}

.login_form .login{
	margin-top: 40px;
	text-align: center;
	padding: 0 50px;
}

.login_form .login ul li label[for="remember"]{
	cursor: pointer;
}

.login_form .login ul li p{
	color: var(--brand-col);
	font-family: 'Arimo',sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.login_form .login ul li:not(:nth-child(5)) input{
	width: 80%;
	padding: 8px 10px;
	margin-bottom: 15px;
	border: 0;
	text-align: center;
	border-bottom: 1px solid #d0d0d0;
	font-size: 16px;
	color: #444;
	font-weight: 600;
}

.login_form .login ul li:not(:nth-child(5)) input::placeholder{
	opacity: 1;
	color: #999;
}

.login_form .login ul li:not(:nth-child(5)) input:focus{
		border-bottom: 1px solid #d0d0d0 !important;
}

.login_form .login ul li button{
	padding: 15px 100px;
	background: var(--lin-bg);
	color: #fff;
	font-family: 'Arimo',sans-serif;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 20px;
}


.login_form .login ul li button:hover{
	background: var(--lin-ho);
}

.login_form .login .remFor{
	color: #999;
	padding-top: 15px;
	
}

.login_form .login .remFor a{
	color: #999;
	margin-left: 5px;
	
}

.login_form .login .remFor a:hover{
	color: var(--brand-col);
}

.login_form .login .remFor input{
	display: none;
}

.login_form .login .remFor span{
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #d0d0d0;
	vertical-align: middle;
	position: relative;
	top: -2px;
}



.login_form .login .remFor input:checked ~span{
	background: var(--brand-col);
	
}

.login_form .login .remFor input:checked ~ label{
	color: var(--brand-col);
}

.login_form .login .remFor label{
	padding-left: 30px;
	transform: translateX(-30px);
}

.login_form .login .remFor span::after{
    width: 6px;
    height: 9px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    content: '';
    top: 2px;
    left: 5px;
	opacity: 0;
	
}

.login_form .login .remFor input:checked ~span::after{
	opacity: 1;
}

.login_img{
	text-align: center;
}

.login_img div{
	margin: 0 auto 30px auto;
    background: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.signup input{
	    width: 80%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    font-size: 16px;
    color: #444;
    font-weight: 600;
}

.signup input:focus{
	border-bottom: 1px solid #d0d0d0 !important;
}


.login_new select{
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    vertical-align: middle;
    font-family: 'Arimo',sans-serif;
    color: #777;
	cursor: pointer;
 
}
.login_new input{
	    width: 180px !important;
    margin-left: 15px;
	transform: translateY(-4px);
}

.login_new p{
	display: inline-block;
}

.login_new p:first-child{
	width: 100px;
	padding-left: 10px;
}

.login_new p:last-child{
	width: 200px;
	padding-left: 10px;
}

.login_img{
	position: relative;`
}

.profile_cloud{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--lin-bg);
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 67px;
    transform: translateX(13px);
}

/* =================================
		portfolio top css
=================================== */

.portfolio_top_part{
	padding-top: 60px;
}

.portfolio_picture{
	width: 170px;
	height: 170px;
	border:1px solid #ededed;
	text-align: center;
	line-height: 160px;
	overflow: hidden;

}

.portfolio_level ul li{
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 1px solid #adadad;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	font-size: 20px;
	margin-right: 8px;
	position: relative;
	color: #adadad;
	vertical-align: middle;

}
.portfolio_level ul li.active{
	background: var(--lin-bg);
	color: #fff;
	border-width: 0;
}
.portfolio_level .level_number{
	position: absolute;
    right: -6px;
    bottom: 0;
    font-size: 9px;
    width: 18px;
    height: 18px;
    border: 1px solid #adadad;
    line-height: 18px;
    border-radius: 50%;
    background: #fff;
	font-family: 'Arimo',sans-serif;
	color: var(--brand-col);
}

.portfolio_level h2{
	font-family: 'Arimo',sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: var(--brand-col);
}


.portfolio_level p{
	font-family: 'Arimo',sans-serif;
	color: #666;
	font-size: 16px;
	padding: 2px 0;
}

.portfolio_level .star{
	color: #ffb504;
	padding-bottom: 8px;
	font-weight: 400;
	font-family: 'Arimo',sans-serif;
}

.portfolio_level h4{
	font-size: 12px;
	font-weight: 400;
	font-family: 'Arimo',sans-serif;
	color: var(--brand-col);
	padding: 5px 0;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 28px;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	margin-top: 10px;
}

.portfolio_item_list li{
	padding-bottom: 8px;
}

.portfolio_item_list p{
	padding: 15px 0;
	border: 1px solid #ededed;
	box-shadow: 0 0 15px rgba(0,0,0,.05);
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Arimo',sans-serif;
	border-radius: 5px;
	color: var(--44-col);

}

.portfolio_item_list .active{
	background: var(--lin-bg);
	color: #fff;
	border: 0;
}

.portfolio_item_list form input{
	border: 1px solid #F1F1F1;
	border-radius: 5px;
	font-family: 'Arimo',sans-serif;
}

.portfolio_item_list form input:focus{
	border: 1px solid #F1F1F1 !important;
	border-radius: 5px;
}

.portfolio_item_list form  input::placeholder{
   color: #acacac;
   font-family: 'Arimo',sans-serif;
}
