:root{
    --wh-col: #fff;
    --44-col: #444;
    --nav-bg: #f5f5f5;
    --brand-col: #6652cb;
    
    --lin-bg: linear-gradient(to right, #6a56cd, #a293f0);
}

/*import font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
@font-face{
    src:url(../fonts/Phenomena-Bold.ttf);
    font-family: pheno;
}

/*============================
      TABLE OF CONTENT
------------------------------
    1. Common CSS
    2. header top css
    3. menu part css
    4. banner part css
    5. newest item css
    7. freebie part css
    8. footer part css

--------------------------------
    Product Detail Page

    9. bread part css
    10. detail part css
--------------------------------


==============================*/

/*=============================
       Common CSS
===============================*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a,
a:hover{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

span{
    display: inline-block;
}

.form-control{
    border: 0;
}

button,
button:focus,
input:focus{
    background-color: #fff;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
    border: 0;
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color !important;
    background: transparent;
}

.clearFix{
    clear: both;
}

.sec_title{
    padding-bottom: 50px;
}

.sec_title h2{
    color: var(--brand-col);
    font-size: 30px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}
.sec_title p{
    font-size: 16px;
    color: var(--44-col);
    line-height: 25px;
}

.genBtn{
    padding-top: 50px;
    text-align: center;
}

.genBtn a{
    background: var(--lin-bg);
    color: #fff;
    padding: 18px 20px;
    border-radius: 5px;
}


.product_box{
    position: relative;
    overflow: hidden;
}

.product_box .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    transition: all linear .3s;
    -wekbit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transform: scale(1.1);
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    opacity: 0;
}

.product_box:hover .overlay{
      transform: scale(1);
      opacity: 1;
    
}

.product_box .overlay span:nth-child(1){
    font-size: 40px;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    display: block;
    text-align: right;
}

.product_box .overlay span:nth-child(2),
.product_box .overlay span:nth-child(3),
.product_box .overlay span:nth-child(4){
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}



.product_box .overlay span:nth-child(2){
    font-size: 18px;
    bottom: 74px !important;
    font-weight: 400;
}
.product_box .overlay span:nth-child(3){
    bottom: 53px;
    font-size: 12px;
}
.product_box .overlay span:nth-child(4){
    font-size: 16px;
    font-weight: 400;
}




/*=============================
       header top css
===============================*/

.header_top{
    background: var(--wh-col);
}

.header_top_logo{
    display: flex;
    align-items: center;
    height: 100%;
}

.header_top_list li{
    display: inline-block;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header_top_list li a{
    color: var(--44-col);
    padding: 38px 18px;
}

.header_top_list li:nth-child(3) a{
    background-image: linear-gradient(to right, #6a56cd, #a293f0);
    color: var(--wh-col);
    background-position: left;
}

.header_top_list li:not(:nth-child(3)) a:hover{
    color: var(--brand-col);
}



/*=============================
       menu part css
===============================*/
.menu{
    background: var(--nav-bg);
    padding: 20px 0;
}


.menu .navbar-nav .nav-item{
    padding: 0 10px;
}

.menu .navbar-nav .nav-link{
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--44-col);
    transition: .2s;
}

.menu .navbar-nav .nav-link:hover{
    color: var(--brand-col);
}

.cate_btn{
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    color: var(--44-col);
    font-size: 16px;
    background: transparent;
}

.cate_btn:hover{
    color: var(--brand-col);
}

.cate_btn span:nth-child(2){
    vertical-align: bottom;
    padding-left: 8px;
     transform: translateY(3px);
}

.newItem_btn{
    align-items: center;
    height: 100%;
    text-transform: capitalize;
     font-family: 'Arimo',sans-serif;
    font-weight: 400;
    color: var(--brand-col);
    font-size: 16px;
    background: var(--wh-col);
    padding: 0 18px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.05) !important;
}

.newItem_btn:hover{
    background: var(--brand-col);
    color: var(--wh-col);
}

.newItem_btn span:nth-child(2){
    vertical-align: bottom;
    padding-left: 5px;
    transform: translateY(3px);
}


.fixedMenu {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
	border-bottom: 1px solid var(--brand-col);
    
    animation: menuAni 1s;
}


@keyframes menuAni{
    0%{
        top: -100px;
    }
    
    100%{
        top: 0;
    }
}

/*=============================
    banner part css
===============================*/

.banner_part{
    background: var(--lin-bg);
    padding: 100px 0;
}

.banner_text h2{
    color: var(--wh-col);
    font-size: 38px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    padding-bottom: 28px;
}


.banner_search{
    padding: 0 50px;
}

.search_input{
    padding: 21px 18px;
    
}
.search_input::placeholder{
    font-size: 14px;
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    opacity: 1;
    color: #999;
}

.search_btn{
    background: #f1f1f1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

}

.search_btn span{
    margin: 0 5px;
    border: 0;
    background: inherit;
}

/*=============================
    newest item css
===============================*/
.newestItem{
    padding: 70px 0;
}

/*=============================
    freebie part css
===============================*/
.freebie_part{
    padding: 70px 0;
    background: var(--nav-bg);
}

.freebie_box .overlay span:nth-child(1){
    font-size: 20px;
    font-family: 'Arimo',sans-serif;
    font-weight: 600;
    display: block;
    text-align: right;
}

/*=============================
    footer part css
===============================*/
.footer_part{
    padding: 70px 0 30px 0;
    background: var(--wh-col);
}

.footer_logo{
    padding-bottom: 35px;
}

.footer_col_one{}
.footer_col_one ul{}
.footer_col_one ul li{
    padding-bottom: 14px;
}

.footer_col_one ul li a,
.footer_col_two ul li a,
.footer_col_four ul li a,
.footer_col_three ul li p
{
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    color: var(--44-col);
    transition: .2s;
}

.footer_col_one ul li a:hover,
.footer_col_four ul li a:hover,
.footer_col_two ul li a:hover{
    color: var(--brand-col);
}

.footer_col_two ul li{
    padding-bottom: 14px;
}

.footer_col_three ul li:first-child{
    padding-bottom: 24px;
}
.footer_col_four ul:nth-child(2) li a{
  margin-right: 30px;
}

.footer_col_four ul:nth-child(2){
    padding-bottom: 25px;
}




.footer_title{
    padding-bottom: 28px;
}


.footer_title h2{
    color: var(--brand-col);
    font-size: 26px;
    font-family: 'pheno',sans-serif;
}

.copyright{
    padding-top: 30px;
    border-top: 1px solid #f1f1f1;
    margin-top: 30px;
}

.copyright p{
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
    color: #999;
}

/*=============================
       bread part css
===============================*/
.bread_part{
    background: var(--lin-bg);
    padding: 20px 0;
}

.breadcrumb {

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
}

.bread_part .breadcrumb{
    line-height: 42px;
}

.breadcrumb-item + .breadcrumb-item,
.breadcrumb-item a{
    color: #fff;
    font-family: 'Arimo',sans-serif;
    font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: '>';
    color: #fff;
}

/*=============================
       detail part CSS
===============================*/
.detail_part{
    padding: 70px 0;
}

.detail_share_part{
    padding: 16px 35px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(33, 57, 64, 0.1);
    border-radius: 5px;
}
.detail_share_part li{
    display: inline-block;
}

.detail_share_part li:first-child{
    font-family: 'Arimo',sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.detail_share_part li a{
    color: var(--44-col);
    font-size: 16px;
    margin: 0 12px;
}

.detail_share_part li a:hover{
    color:#fa5050;
}


.product_info{
    box-shadow: 5px 5px 20px rgba(33, 57, 64, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.product_info ul li {
	display: inline-block;
	font-family: 'Amimo',sans-serif;
	font-weight: 400;
	padding: 20px 15px;
	margin: 0 1px;
}



.product_info ul li:not(:last-child){
    border-left: 1px solid #ddd;
}

.product_info ul li[data-slick-index="0"]{
    border-left: 1px solid transparent;
}


.product_info ul li h3{
    color: var(--44-col);
    font-size: 16px;
}

.product_info ul li p{
    color: #999;
    font-size: 14px;
}

.detail_next_btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    color: #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    display: inline-block !important;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(33, 57, 64, 0.1);
    cursor: pointer;
    
}
.detail_next_btn:hover{
    background: var(--brand-col);
    color: #fff;
    border-color: var(--brand-col);
    display: none;
}

.detail_prev_btn{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    color: #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    display: inline-block !important;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(33, 57, 64, 0.1);
    cursor: pointer;
    display: none !important;
    visibility: hidden;
    
}
.detail_prev_btn:hover{
    background: var(--brand-col);
    color: #fff;
    border-color: var(--brand-col);
}

.slick-slider{
    padding: 0 20px;
}


.detail_part_profile li{
    display: inline-block;
    vertical-align: middle;
}


.detail_part_profile li:first-child{
    width: 100px;
}

.detail_part_profile li:last-child{
   width: 300px;

}



